<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PharmaAssist</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
  <servlet>
    <description></description>
    <display-name>AddBatchController</display-name>
    <servlet-name>AddBatchController</servlet-name>
    <servlet-class>com.cts.pharma.controller.AddBatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBatchController</servlet-name>
    <url-pattern>/AddNewBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBatchController</display-name>
    <servlet-name>UpdateBatchController</servlet-name>
    <servlet-class>com.cts.pharma.controller.UpdateBatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBatchController</servlet-name>
    <url-pattern>/UpdateBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBatchController</display-name>
    <servlet-name>SearchBatchController</servlet-name>
    <servlet-class>com.cts.pharma.controller.SearchBatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBatchController</servlet-name>
    <url-pattern>/SearchBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBatchController</display-name>
    <servlet-name>DeleteBatchController</servlet-name>
    <servlet-class>com.cts.pharma.controller.DeleteBatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBatchController</servlet-name>
    <url-pattern>/DeleteBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginController</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>com.cts.pharma.controller.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserLoginFilter</display-name>
    <filter-name>UserLoginFilter</filter-name>
    <filter-class>com.cts.pharma.controller.UserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginFilter</filter-name>
    <servlet-name>UserLoginController</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UserReactivationController</display-name>
    <servlet-name>UserReactivationController</servlet-name>
    <servlet-class>com.cts.pharma.controller.UserReactivationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReactivationController</servlet-name>
    <url-pattern>/UserReactivate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordResetController</display-name>
    <servlet-name>PasswordResetController</servlet-name>
    <servlet-class>com.cts.pharma.controller.PasswordResetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordResetController</servlet-name>
    <url-pattern>/PasswordReset</url-pattern>
  </servlet-mapping>
</web-app>