<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QmMonitor</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ser1</display-name>
    <servlet-name>ser1</servlet-name>
    <servlet-class>com.cts.dnb.Controller.ser1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ser1</servlet-name>
    <url-pattern>/ser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getExecutionGroups</display-name>
    <servlet-name>getExecutionGroups</servlet-name>
    <servlet-class>com.cts.dnb.Controller.getExecutionGroups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getExecutionGroups</servlet-name>
    <url-pattern>/getExecutionGroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.cts.dnb.Controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EgLoadController2</display-name>
    <servlet-name>EgLoadController2</servlet-name>
    <servlet-class>com.cts.dnb.Controller.EgLoadController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EgLoadController2</servlet-name>
    <url-pattern>/EgLoadController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBrokers</display-name>
    <servlet-name>GetBrokers</servlet-name>
    <servlet-class>com.cts.dnb.Controller.GetBrokers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBrokers</servlet-name>
    <url-pattern>/GetBrokers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApplications</display-name>
    <servlet-name>GetApplications</servlet-name>
    <servlet-class>com.cts.dnb.Controller.GetApplications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApplications</servlet-name>
    <url-pattern>/GetApplications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBroker</display-name>
    <servlet-name>AddBroker</servlet-name>
    <servlet-class>com.cts.dnb.Controller.AddBroker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBroker</servlet-name>
    <url-pattern>/AddBroker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveBroker</display-name>
    <servlet-name>RemoveBroker</servlet-name>
    <servlet-class>com.cts.dnb.Controller.RemoveBroker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBroker</servlet-name>
    <url-pattern>/RemoveBroker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBroker</display-name>
    <servlet-name>UpdateBroker</servlet-name>
    <servlet-class>com.cts.dnb.Controller.UpdateBroker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBroker</servlet-name>
    <url-pattern>/UpdateBroker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBroker</display-name>
    <servlet-name>EditBroker</servlet-name>
    <servlet-class>com.cts.dnb.Controller.EditBroker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBroker</servlet-name>
    <url-pattern>/EditBroker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFilePaths</display-name>
    <servlet-name>UpdateFilePaths</servlet-name>
    <servlet-class>com.cts.dnb.Controller.UpdateFilePaths</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFilePaths</servlet-name>
    <url-pattern>/UpdateFilePaths</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEgs</display-name>
    <servlet-name>GetEgs</servlet-name>
    <servlet-class>com.cts.dnb.Controller.GetEgs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEgs</servlet-name>
    <url-pattern>/GetEgs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterQueues</display-name>
    <servlet-name>FilterQueues</servlet-name>
    <servlet-class>com.cts.dnb.Controller.FilterQueues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterQueues</servlet-name>
    <url-pattern>/FilterQueues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectQM</display-name>
    <servlet-name>SelectQM</servlet-name>
    <servlet-class>com.cts.dnb.Controller.SelectQM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectQM</servlet-name>
    <url-pattern>/SelectQM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetQueueDetails</display-name>
    <servlet-name>GetQueueDetails</servlet-name>
    <servlet-class>com.cts.dnb.Controller.GetQueueDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQueueDetails</servlet-name>
    <url-pattern>/GetQueueDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStatus</display-name>
    <servlet-name>GetStatus</servlet-name>
    <servlet-class>com.cts.dnb.Controller.GetStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStatus</servlet-name>
    <url-pattern>/GetStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadChannels</display-name>
    <servlet-name>LoadChannels</servlet-name>
    <servlet-class>com.cts.dnb.Controller.LoadChannels</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadChannels</servlet-name>
    <url-pattern>/LoadChannels</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQM</display-name>
    <servlet-name>AddQM</servlet-name>
    <servlet-class>com.cts.dnb.Controller.AddQM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQM</servlet-name>
    <url-pattern>/AddQM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageQueue</display-name>
    <servlet-name>MessageQueue</servlet-name>
    <servlet-class>com.cts.dnb.Controller.MessageQueue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageQueue</servlet-name>
    <url-pattern>/MessageQueue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PutMessage</display-name>
    <servlet-name>PutMessage</servlet-name>
    <servlet-class>com.cts.dnb.Controller.PutMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutMessage</servlet-name>
    <url-pattern>/PutMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.cts.dnb.Controller.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveUser</display-name>
    <servlet-name>RemoveUser</servlet-name>
    <servlet-class>com.cts.dnb.Controller.RemoveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUser</servlet-name>
    <url-pattern>/RemoveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUser</display-name>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>com.cts.dnb.Controller.EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QMSetup</display-name>
    <servlet-name>QMSetup</servlet-name>
    <servlet-class>com.cts.dnb.Controller.QMSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QMSetup</servlet-name>
    <url-pattern>/QMSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrokerUpdate</display-name>
    <servlet-name>BrokerUpdate</servlet-name>
    <servlet-class>com.cts.dnb.Controller.BrokerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrokerUpdate</servlet-name>
    <url-pattern>/BrokerUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReq</display-name>
    <servlet-name>GetReq</servlet-name>
    <servlet-class>com.cts.dnb.Controller.GetReq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReq</servlet-name>
    <url-pattern>/GetReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveQM</display-name>
    <servlet-name>RemoveQM</servlet-name>
    <servlet-class>com.cts.dnb.Controller.RemoveQM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveQM</servlet-name>
    <url-pattern>/RemoveQM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditQm</display-name>
    <servlet-name>EditQm</servlet-name>
    <servlet-class>com.cts.dnb.Controller.EditQm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQm</servlet-name>
    <url-pattern>/EditQm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQM</display-name>
    <servlet-name>UpdateQM</servlet-name>
    <servlet-class>com.cts.dnb.Controller.UpdateQM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQM</servlet-name>
    <url-pattern>/UpdateQM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadTopics</display-name>
    <servlet-name>LoadTopics</servlet-name>
    <servlet-class>com.cts.dnb.Controller.LoadTopics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadTopics</servlet-name>
    <url-pattern>/LoadTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTopicDetails</display-name>
    <servlet-name>GetTopicDetails</servlet-name>
    <servlet-class>com.cts.dnb.Controller.GetTopicDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTopicDetails</servlet-name>
    <url-pattern>/GetTopicDetails</url-pattern>
  </servlet-mapping>
</web-app>